* {
    margin: 0;
}

:root {
    --primary-color: #1a1a1a;
    --background-color: #f5f3ca;
    --comment-color: green;
    --default-fontsize: 10px;
    --highlight-color: #e67e22;
    --question-color: rgb(255, 44, 44);
}

body, html {
    font-family: 'Google Sans', sans-serif;
    font-size: var(--default-fontsize);
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--background-color);
    flex-direction: column;
    overflow: hidden;
    z-index: -2;
    width: 100%;
    height: 100%;
}

h5.title {
    font-size: 5rem;
    position: absolute;
    left: 1rem;
    top: -4rem;
    background: var(--background-color);
    animation: slowBold 30s ease infinite;
}

.container {
    width: 40rem;
    height: 25rem;
    border: 0.2rem solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 5rem;
    border-radius: 1rem;
    transition: all 1s ease-out;
    background-color: var(--background-color);
    transform-style: preserve-3d;
}

.containerShadow {
    width: 40rem;
    height: 25rem;
    border: 0.01rem solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 1rem;
    left: 1rem;
    z-index: -1;
    border-radius: 1rem;
    transition: all 1.5s ease-out;
    transform: translateZ(-1px);
    background-color: #bdbc9d;
    box-shadow: 
        1rem 1rem 0 #96957c,
        2rem 2rem 0 #96957cbb,
        3rem 3rem 0 #96957c8b, 
        4rem 4rem 0 #96957c50;
}

.contents {
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: all 1s ease-out;
    width: inherit;
    padding: 2rem;
}

p.text {
    font-size: 2rem;
    font-weight: 300;
    padding-left: 1rem;
    display: flex;
    flex-direction: row;
    position: relative;
}

.contentTitle {
    font-size: 2rem;
    font-weight: 500;
    padding-left: 1rem;
    z-index: 1;
    animation: slowMove 5s ease-out infinite;
}

.subText {
    font-size: 1rem;
    margin-top: 1rem;
    text-align: justify;
    padding-left: 2rem;
    padding-right: 2rem;
    z-index: 1;
}

.smallText {
    font-size: 0.8rem;
}

.comments {
    position: absolute;
    font-size: 1rem;
    color: var(--comment-color);
    top: 42%;
    right: 10%;
}

.controls {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    transition: all 1.2s ease-out;
    position: relative;
    z-index: 10;
}

.next, .back {
    border: 0.1rem solid var(--primary-color);
    border-radius: 0.5rem 0 0.5rem;
    width: 10rem;
    margin-top: -4rem;
    height: fit-content;
    padding: 1rem;
    font-family: 'Google Sans', sans-serif;
    font-weight: 300;
    font-size: 2rem;
    transition: all 0.5s ease-out;
    user-select: none;
    cursor: pointer;
}

.next:hover, .next:focus {
    background-color: #1a1a1a;
    color: var(--background-color);
    font-weight: 900;
}

.back:hover, .back:focus {
    background-color: red;
    color: var(--background-color);
    font-weight: 900;
}

/*  */
/*  */

.zoomControls {
    position: absolute;
    top: 10rem;
    right: 5rem;
    display: flex;
    flex-direction: column;
    gap: 5rem;
    z-index: 2;
}


img.icons {
    width: 3rem;
    height: 3rem;
    object-fit: contain;
    display: block;
}

.zoomIn, .zoomOut {
    margin-top: -4rem;
    background-color: transparent;
    border: none;
    transition: all 0.5s ease-out;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    cursor: pointer;
    width: 2rem;
    height: 2rem;
}

.highlight, .subText.highlight {
    font-weight: 600;
    color: var(--highlight-color);
    transition: all 1s ease-out;
    text-box: 1px solid black;
    text-decoration: underline;
    animation: highlighting 5s ease-out infinite;
}

.questions {
    font-weight: 900;
    color: var(--question-color);
    transition: all 1s ease-out;
    text-box: 1px solid black;
    text-decoration: underline;
}


.codeBlock {
    white-space: pre-wrap;
    font-size: 0.5rem;
    font-weight: 900;
    width: 80%;
    display: flex;
    border-radius: 0.3rem;
    margin-left: 1rem;
    padding: 0.2rem;
    background-color: var(--primary-color);
    color: var(--background-color);
    z-index: 0;
    align-items: center;
    border: 0.1rem solid black;
}

/*  */
/*  */

.taskManager, .taskManager[type="text"], .taskManager[placeholder] {
    font-family: 'Google Sans', sans-serif;
    font-size: 2rem;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1rem;
    position: absolute;
    bottom: 1rem;
    background-color: transparent;
    border: 0.1rem solid black;
    padding: 0.3rem;
    border-radius: 0.5rem;
}

.taskDisplay {
    margin: 3rem;
    border: 0.2rem solid black;
    border-radius: 0.5rem;
    padding: 1rem;
    gap: 0.5rem;
    display: flex;
    flex-direction: column;
}

.newImage {
    image-rendering: optimizeQuality;
    object-fit: cover;
    max-width: 80%;
    display: flex;  
    margin: 0 auto;
}

.pageDisplay {
    font-size: 2rem;
    position: absolute;
    left: -15rem;
    top: 0;
    z-index: 1;
    width: 10rem;
    border: 0.2rem solid black;
    border-radius: 0.5rem;
    padding: 0.2rem;
    transition: all 1s ease-out;
    background-color: #c8c6a7;
    animation: highlighting 10s ease-out infinite;
    cursor: pointer;
}

.lineDecor {
    border-left: 0.2rem solid black;
    border-bottom: 0.2rem solid black;
    position: absolute;
    width: 10rem;
    height: 5rem;
    left: -10.2rem;
    top: 3.1rem;
    border-radius: 0.1rem;
}

.containerShadow {
    animation: slowMoveShadow 5s ease-in-out infinite;
}

.titleIcon {
    width: 2rem;
    height: 2rem;
    object-fit: contain;
}

.copyright {
    font-size: 1rem;
    position: absolute;
    left: 2rem;
    bottom: 0.2rem;
    display: flex;
    justify-content: space-between;
    background-color: none;
}

.textAreaButton {
    cursor: pointer;
    position: absolute;
    left: -15rem;
    bottom: 0rem;
    font-size: 1.5rem;
    width: 10rem;
    border: 0.2rem solid black;
    border-radius: 0.5rem;
    padding: 0.2rem;
    transition: all 1s ease-out;
    background-color: #c8c6a7;
    z-index: 1;
    animation: highlighting 10s ease-out infinite;
}

.lineDecorTA {
    border-left: 0.2rem solid black;
    border-top: 0.2rem solid black;
    position: absolute;
    width: 10rem;
    height: 5rem;
    left: -10.2rem;
    bottom: 2rem;
    border-radius: 0.1rem;
}

#notes {
    width: 40rem;
    height: 20rem;
    position: absolute;
    padding: 1rem;
    font-family: "Google Sans", sans-serif;
    font-size: 2rem;
    border-radius: 1rem;
    transition: all 2s ease-out;
    transform: translate(0, 35rem);
}

.search {
    width: 3rem;
    height: 3rem;
    position: absolute;
    left: -8rem;
    top: 11.5rem;
}

.lineDecorS {
    border-top: 0.2rem solid black;
    width: 5.5rem;
    position: absolute;
    left: -5.5rem;
    z-index: -1;
    top: 12.9rem;
}

.searchResults {
    position: absolute;
}

.searchBar, .searchBar[type="text"], .searchBar[placeholder] {
    font-family: 'Google Sans', sans-serif;
    font-size: 1.5rem;
    width: 40rem;
    height: 3rem;
    padding: 0.5rem;
    position: absolute;
    top: -5rem;
    border: 0.2rem solid var(--primary-color);
    border-radius: 0.5rem;
    transition: all 1.5s ease-out;
}







































@keyframes slowMove {
    0% {
        transform: translate(0, 0);
    }
    50% {
        transform: translate(0, 0.2rem);
    }
    100% {
        transform: translate(0, 0);
    }
}

@keyframes slowMoveShadow {
    0% {
        transform: translateZ(-1px) translate(0, 0);
    }
    50% {
        transform: translateZ(-1px) translate(0.2rem, 0.2rem);
    }
    100% {
        transform: translateZ(-1px) translate(0, 0);
    }
}

@keyframes highlighting {
    0% {
        font-weight: 300;
        opacity: 90%;
    }
    50% {
        font-weight: 900;
        opacity: 100%;
    }
    100% {
        font-weight: 300;
        opacity: 90%;
    }
}

@keyframes slowBold {
    0% {
        font-weight: 300;
    }
    50% {
        font-weight: 900;
        opacity: 100%;
    }
    100% {
        font-weight: 300;
    }
}

































































@media (max-width: 600px) {
    html, :root {
        --default-fontsize: 10px;
        overflow: hidden;
    }
}

@media (max-width: 400px) {
    html, :root {
        --default-fontsize: 8px;
        overflow: hidden;
    }
}

@media (min-width: 1200px) {
    html, :root {
        --default-fontsize: 16px;
        overflow: hidden;
    }
}
